<form class="form">

    <h1>Criando Novo Tecnico</h1>

    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. Eduardo">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 000.000.000-00">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Ex. (94) 91111-1010">
    </mat-form-field>

    <button mat-stroked-button color="accent" (click)="create()">Criar</button>
    <button mat-stroked-button color="warn" (click)="cancel()">
        Cancelar
    </button>
</form>