<form class="form mat-elevation-z8" ngForm>

    <h1>Deletar Cliente</h1>

    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="cliente.nome" disabled name="nome" maxlength="100" matInput placeholder="Ex. Eduardo">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="cliente.cpf" disabled name="cpf" minlength="14" maxlength="14" matInput
            placeholder="Ex. 000.000.000-00">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="cliente.telefone" disabled name="telefone" minlength="15" maxlength="15" matInput
            placeholder="Ex. (94) 91111-1010">
    </mat-form-field>

    <button class="mat-elevation-z8" mat-stroked-button color="accent" (click)="delete()">Deletar</button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn" (click)="cancel()">
        Cancelar
    </button>
</form>